
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>BAM</title>
</head>
<body>
	<header>


		<h1><strong>BAM Prototypes</strong></h1>	

		<div id="top" class="main_div" style="background:url(/images/board_in_machine.jpeg)">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <a href="/">
                        <img src="/images/BAMLogo-nobox.png" alt="BAM Prototypes" class="noprint">
                        <img src="/images/BAMLogo.png" alt="BAM Prototypes" class="onlyprint">
                    </a>
                </td>
                <td>
    <div id="top_address" class="onlyprint">
      str. Botizuli Nr. 9<br />
      Satu Mare, 440101<br />
      +40 361.086.115<br /><br />
      www.bamproto.com
    </div>
                </td>
            </tr>
    <!--div id="t2">Engineering Services</div-->
        </tbody>
    </table>
		<nav>
			  </div>
			<div id="menu1" class="main_div menu">
			<a href="pricing.html">Pricing</a>
			<a href="capabilities.html">Capabilities</a>
			<a href="quote.html">Request Quote</a>
			<a href="about.html">About</a>
			</div>

		</nav>
	</header>

	<main>	


		{{content}}

	</main>

	<footer>
		
	</footer>

	<p>SAluuuuut</p>


</body>
</html>