		<div id="top" class="main_div" style="background:url(/assets/images/board_in_machine.jpeg)">
		<h1>{{page.title}}</h1>
		    <table width="100%">
		        <tbody>
		            <tr>
		                <td>
		                    <a href="/">
		                        <img src="../assets/images/BAMLogo-nobox.png" alt="BAM Prototypes" class="noprint">
		                        <img src="../assets/images/BAMLogo.png" alt="BAM Prototypes" class="onlyprint">
		                    </a>
		                </td>
		                <td>
		     <div id="top_address" class="onlyprint">
		      str. Botizuli Nr. 9<br />
		      Satu Mare, 440101<br />
		      +40 361.086.115<br /><br />
		      www.bamproto.com
		    </div> 
		                </td>
		            </tr>
		    <div id="t2">Engineering Services</div>
		        </tbody>
		    </table>
		</div> 




<img src="../assets/images/BAMLogo-nobox.png" alt="BAM Prototypes" class="onlyprint">
<div id="menu1" class="main_div menu" >

	<a href="pricing.html" class="{% if page.url =='/pricing.html' %}current{% endif %}">Pricing</a>
	<a href="capabilities.html" class="{% if page.url =='/capabilities.html' %}current{% endif %}">Capabilities</a>
	<a href="quote.html" class="{% if page.url =='/quote.html' %}current{% endif %}">Request Quote</a>
	<a href="about.html" class="{% if page.url =='/about.html' %}current{% endif %}">About</a>

</div>
